---
import "normalize.css";
import "concrete.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>John Langs</title>
	</head>
	<body>
		<header>
			<h1>Previous Works</h1>

			<section>
				<h2>Venture Robotics</h2>
				<img src="classroom.jpg" alt="" />
				<blockquote>
					Managed, directed, and taught classes up
					to 13 students in size. Synthesized
					beginner friendly educational programs
					from various robotics and programming
					platforms. Educated students on the
					foundations of robotics and programming
					using Scratch, C++, and Python.
				</blockquote>
			</section>

			<section>
				<h2>Personal Financial Overview</h2>
				<img src="fin.png" alt="" />
				<blockquote>
					A financial information aggregation app
					using the Plaid API. Implemented account
					balance and transaction tracking through
					item storage in MongoDB. Visualized
					financial activity using React and
					associated UI libraries
				</blockquote>
				<a href="">Repo</a> |
				<a href="">Demo</a>
			</section>
			<p>
				<a href="https://github.com/johnlangs">GitHub</a
				> |
				<a href="">About</a> |
				<a href="/">Home</a>
			</p>
			<p>▼▲▼▲▼▲▼▲▼▲▼</p>
		</header>
	</body>
</html>
